@keyframes shakeRotate {
  0% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
  50% {
    transform:translate(-50%, -50%) rotate(-3deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
}
.PicturePart{
    width: 400px;
    height: 500px;
    background: transparent;
    position: absolute;
    left: 70%;
    top: 50%;
    background: url(../../assets/picture.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid #7d2ae8;
animation: shakeRotate 10s ease-in-out infinite; 
}
.lightPart2{
    position: relative;
    left: 60%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgb(25, 15, 36),rgb(126, 23, 235));
    width: 300px;
    height: 300px;
    z-index: -100;
    border-radius: 100%;
    opacity: 0.5;
    filter: blur(100px);
}